<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>8898587997-cugm9buq6dgbc7bfum8sevpst6clj08v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.8898587997-cugm9buq6dgbc7bfum8sevpst6clj08v</string>
	<key>API_KEY</key>
	<string>AIzaSyBPExV0WG2Ass_mT8D2mfY1c4drTksnV1g</string>
	<key>GCM_SENDER_ID</key>
	<string>8898587997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MBG.Despachador</string>
	<key>PROJECT_ID</key>
	<string>kuhni-fb8ab</string>
	<key>STORAGE_BUCKET</key>
	<string>kuhni-fb8ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:8898587997:ios:beedfd958764e910</string>
	<key>DATABASE_URL</key>
	<string>https://kuhni-fb8ab.firebaseio.com</string>
</dict>
</plist>